@import 'vars';

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: $contentCenter;
    padding-right: $contentCenter;

}

.header {
    background: $backGroundColor;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    padding-top: 18px;
    padding-bottom: 19px;

    display: flex;
    gap: 41px;
}

.button_copy {
    padding-top: 26px;
    padding-bottom: 20px;

    display: flex;
    gap: 33px;
    justify-content: flex-end;
}

.top_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.top_header_text {
    color: $siteTextColor;
}

.bread_crumbs_nav {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.site_link {
    color: $siteTextColor;
}

.top_heading_content {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    padding-top: 11px;
    position: relative;
}

.heading_img {
    padding-bottom: 40px;
}

.left_slider {
    display: flex;
    position: absolute;
    top: 45%;
    left: 1%;
}

.right_slider {
    display: flex;
    position: absolute;
    top: 45%;
    right: 1%;
}

.product_discription {
    background: #ffffff;
}

.discription_subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: $siteTextColor;
    display: flex;
    justify-content: center;
    padding-top: 64px;

}

.block_diwider {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 12px;
}

.discription_title {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;

    color: #4D4D4D;
    padding-bottom: 48px;
    display: flex;
    justify-content: center;

}

.block_text_discrtiption {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.discription_text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #5E5E5E;
    width: 556px;


}

.total_price {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #EF5B70;

    display: flex;
    justify-content: center;
    padding-top: 32px;


}

.line {
    padding-bottom: 64px;
    padding-top: 64px;

}

.sort_overlay {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 128px);
    justify-content: center;
}

.block_add_to_cart {
    display: flex;
    justify-content: center;
}

.add_cart {
    padding-top: 48px;
    padding-bottom: 64px;

}

.products_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product {
    max-width: 360px;
}

.hover_img {
    display: block;
    position: relative;
}

.hover_img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("img/darktheme.svg") no-repeat center center;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.4s ease;
}

.hover_img:after {
    content: 'Add to Cart';
    position: absolute;
    padding-left: 20px;
    top: 40%;
    left: 33%;
    width: 110px;
    height: 33px;
    right: 0;
    bottom: 0;
    background: url("img/header_button_3.svg") no-repeat;
    opacity: 0;
    transition: opacity 0.4s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;

}

.hover_img:hover:before,
.hover_img:hover:after {
    opacity: .8;
}

.title_price {
    padding-left: 16px;
    padding-bottom: 19px;
    max-width: 360px;
}

.product_title {
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #000000;

}

.product_text {
    padding-right: 29px;
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #5D5D5D;
}

.price {
    color: $siteTextColor;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


.subscribe_block {
    background-image: url(img/background_img.svg);
    background-size: 100%;
    display: grid;
    grid-template-columns: 359px 557px;
    gap: 222px;
    padding-top: 86px;
    padding-bottom: 126px;
    padding-left: 230px;
    padding-right: 230px;
    justify-content: center;
    align-items: center;
}

.left_block {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.left_img {
    padding-bottom: 30px;
}

.comment {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: $backGroundColor;
}

.right_block {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.subscribe_discription {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    /* or 40px */
    text-align: center;
    color: $backGroundColor;
    padding-bottom: 32px;
}

.sub_disc {
    font-weight: 700;
    font-size: 24px;
}

.discription_form {
    display: flex;
    flex-wrap: nowrap;
}

.e-mail {

    width: 256px;
    height: 49px;
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: $backGroundColor;
}

.sub_button {
    background: $siteTextColor;

    width: 100px;
    height: 49px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-width: .1px;


}

.footer {
    background: $backGroundColor;
    display: grid;
    grid-template-columns: 332px 147px;
    justify-content: space-between;
}

.all_rights {
    padding-top: 30px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FBFBFB;


}

.social_media {
    padding-top: 24px;
    padding-bottom: 24px;
    text-decoration: none;
}

.social_link:hover .bkgrnd {
    fill: $siteTextColor;
}

.social_link:hover path {
    fill: white;
}

// @media (max-width: 1024px) {
//     .header_logo {
//         padding-left: 32px;
//     }

//     .button_copy {
//         padding-right: 41px;
//     }

//     .top_content_img {
//         height: 368px;
//         width: 386px;
//     }

//     .rectangle {
//         height: 92px;
//         padding-left: 39px;
//         padding-right: 16px;
//     }

//     .brand_title {
//         padding-right: 33px;
//         font-size: 24px;
//         line-height: 53px;
//     }

//     .tittle_text {
//         font-size: 44px;
//         line-height: 53px;
//     }

//     .block_offer {
//         padding-left: 16px;
//         padding-right: 16px;
//         gap: 12px;
//         display: grid;
//         grid-template-columns: repeat(3, 232px);

//     }

//     .text {
//         font-size: 15px;
//         line-height: 19px;
//     }

//     .big_text {
//         font-size: 19px;
//         line-height: 28px;
//     }

//     .offer_img {
//         width: 232px;

//     }

//     .accesories {
//         width: 720px;
//     }

//     .accesories_img {
//         width: 720px;
//     }

//     .products_item {
//         display: grid;
//         grid-template-columns: 360px 360px;
//         gap: 14px;
//         max-width: 768px;
//         padding-left: 16px;
//         padding-right: 16px;
//     }

//     .information_block {
//         grid-template-columns: repeat(1, 360px);
//     }

//     .subscribe_block {
//         grid-template-columns: 359px;
//         background-size: cover;
//     }

//     .footer {
//         grid-template-columns: 352px 147px;
//         gap: 200px;
//         padding-left: 32px;
//         padding-right: 32px;
//         justify-content: space-between;
//     }
// }

// @media (max-width: 767px) {
//     .button_copy_1 {
//         display: none;
//     }

//     .button_copy_2 {
//         display: none;
//     }

//     .header_logo {
//         padding-left: 16px;
//         gap: 40px;
//     }

//     .button_copy {
//         padding-right: 16px;
//     }

//     .top_content {
//         height: 363px;
//     }

//     .top_content_img {
//         display: none;
//     }

//     .block_offer {
//         padding-left: 16px;
//         padding-right: 16px;
//         gap: 12px;
//         display: grid;
//         grid-template-columns: repeat(1, 343px);
//         justify-content: center;
//         margin: 0;
//     }

//     .offer_img {
//         width: 343px;
//         height: 247px;
//     }

//     .accesories {
//         width: 343px;
//     }

//     .accesories_img {
//         width: 343px;
//         height: 111px;
//     }

//     .products {
//         margin: 0;
//     }

//     .products_item {
//         display: grid;
//         grid-template-columns: 359px;
//         gap: 14px;
//         padding-left: 8px;
//         padding-right: 8px;
//     }

//     .product_img {
//         width: 359px;
//     }

//     .tittle_text {
//         font-size: 38px;
//         line-height: 46px;

//         color: $backGroundColor;
//     }

//     .brand_title {
//         font-size: 20px;
//     }

//     .big_text {
//         font-size: 24px;
//         line-height: 28px;

//     }

//     .text {
//         font-size: 16px;
//         line-height: 19px;
//     }

//     .subscribe_block {
//         padding-left: 16px;
//         padding-right: 16px;
//         grid-template-columns: 343px;
//     }

//     .discription_form {
//         width: 343px;
//     }

//     .footer {
//         display: flex;
//         flex-direction: column-reverse;
//         align-content: center;
//         flex-wrap: wrap;
//         align-items: center;
//         gap: 40px;
//         padding-right: 16px;
//         padding-left: 16px;
//     }

// }

// @media(width: 320px) {
//     .brand_title {
//         font-size: 17px;
//     }

//     .tittle_text {
//         font-size: 30px;
//     }

//     .block_offer {
//         padding-left: 8px;
//         padding-right: 8px;
//         gap: 12px;
//         display: grid;
//         grid-template-columns: 304px;
//         justify-content: center;
//         margin: 0;
//     }

//     .offer_img {
//         width: 304px;
//     }

//     .accesories {
//         width: 304px;
//     }

//     .accesories_img {
//         width: 304px;
//     }

//     .text {
//         font-size: 14px;
//     }

//     .products_item {
//         grid-template-columns: 304px;
//     }

//     .product_img {
//         width: 304px;
//     }

//     .information_block {
//         grid-template-columns: repeat(1, 310px);
//     }

//     .subscribe_block {
//         grid-template-columns: 310px;
//     }

//     .discription_form {
//         width: 300px;
//     }
// }