@mixin flex-end {
    display: flex;
    gap: 44px;
    align-items: flex-end;
}

@mixin justify-center-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}