body {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding-bottom: 20px;
  padding-top: 20px;
}
.header__logo {
  display: flex;
  gap: 41px;
  align-items: center;
}
.header__menu {
  display: flex;
  gap: 25px;
  align-items: center;
  transition-duration: 0.4s;
}
.header__logos:hover path {
  fill: white;
}
.header__logos:hover .header__bkgrnd {
  fill: #F16D7F;
}

.breadcrumbs {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F8F3F4;
}
.breadcrumbs__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.content {
  padding-top: 96px;
  padding-bottom: 128px;
  display: grid;
  grid-template-columns: 652px 360px;
  align-items: start;
}
.content__product {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.content__products {
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
  width: 605px;
  margin-bottom: 40px;
  display: flex;
  gap: 31px;
  position: relative;
}
.content__exit {
  height: 22px;
  position: absolute;
  top: 28px;
  right: 22px;
  border: none;
}
.content__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222;
  padding-top: 22px;
  padding-right: 97px;
}
.content__price {
  padding-top: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.content__tag {
  color: #F16D7F;
}
.content__color {
  padding-top: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.content__size {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-top: 6px;
}
.content__quantity {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-top: 6px;
  padding-bottom: 62px;
}
.content__buttons {
  padding-top: 32px;
  width: 605px;
  display: flex;
  justify-content: space-between;
}
.content__button {
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 225px;
  height: 50px;
  border: 1px solid rgb(164, 164, 164);
  background: #FFFFFF;
  transition: all 1s;
}
.content__button:hover {
  background-color: #F16D7F;
  color: #E2E2E2;
}
.content__forma {
  padding-left: 128px;
}
.content__form {
  width: 360px;
  min-height: 272px;
  position: relative;
}
.content__box {
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  align-content: flex-start;
  color: #222;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222;
}
.content__addres {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222;
  padding-bottom: 20px;
}
.content__city {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222;
  background: #FFFFFF;
  border: 1px solid rgb(164, 164, 164);
  width: 360px;
  height: 45px;
  padding-left: 17px;
}
.content__state {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222;
  background: #FFFFFF;
  border: 1px solid rgb(164, 164, 164);
  width: 360px;
  height: 45px;
  padding-left: 17px;
}
.content__postcode {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222;
  background: #FFFFFF;
  border: 1px solid rgb(164, 164, 164);
  width: 360px;
  height: 45px;
  padding-left: 17px;
}
.content__submit {
  width: 102px;
  height: 35px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid #A4A4A4;
  transition-duration: 1s;
}
.content__submit:hover {
  background-color: #F16D7F;
  color: white;
}
.content__total {
  width: 360px;
  background: #F5F3F3;
  margin-top: 57px;
}
.content__cost {
  color: #F16D7F;
}
.content__sub {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-top: 39px;
  padding-bottom: 12px;
  display: flex;
  justify-content: flex-end;
  padding-right: 34px;
}
.content__grand {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  padding-right: 37px;
  border-bottom: 1px solid #E2E2E2;
}
.content__checkout {
  border: none;
}
.content__button-text {
  background: #F16D7F;
  width: 273px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-left: 44px;
  margin-bottom: 42px;
  transition: all 0.5s;
}
.content__button-text:hover {
  background-color: #E1E1E1;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  box-sizing: border-box;
}

.subscribe {
  background-image: url(img/background_img.svg);
  background-size: cover;
  padding-bottom: 126px;
  padding-top: 97px;
  display: flex;
  align-items: center;
  gap: 327px;
}
.subscribe__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 360px;
  gap: 30px;
}
.subscribe__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222;
}
.subscribe__right {
  width: 557px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 27px;
  align-content: center;
}
.subscribe__discription {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #222;
}
.subscribe__title {
  font-size: 24px;
  font-weight: 700;
}
.subscribe__forma {
  display: flex;
}
.subscribe__e-mail {
  width: 222px;
  height: 49px;
  background: #E1E1E1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 22px;
}
.subscribe__e-mail ::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222;
  opacity: 0.67;
}
.subscribe__e-mail ::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222;
  opacity: 0.67;
}
.subscribe__button {
  background: #F16D7F;
  width: 100px;
  height: 49px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border-width: 0.1px;
  transition: all 0.5s;
}
.subscribe__button:hover {
  background-color: #E1E1E1;
  color: #222;
  border: 1px solid #F16D7F;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
}
.footer__rights {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__link:hover path {
  fill: white;
}
.footer__link:hover .footer__bkgrnd {
  fill: #F16D7F;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .content__product {
    justify-content: center;
  }
  .content__products {
    width: 734px;
  }
  .content__buttons {
    display: flex;
    justify-content: center;
    gap: 49px;
  }
  .content__forma {
    padding: 0;
    padding-top: 64px;
    display: flex;
    gap: 15px;
    max-width: 736px;
  }
  .content__total {
    margin-top: 38px;
    margin-left: 15px;
  }
  .subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
}
@media (max-width: 767px) and (min-width: 375px) {
  .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }
  .header__profile {
    display: none;
  }
  .breadcrumbs {
    display: flex;
    justify-content: center;
  }
  .content {
    padding-top: 39px;
    display: flex;
    flex-wrap: wrap;
  }
  .content__product {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .content__products {
    max-width: 358px;
    height: 188px;
  }
  .content__img {
    width: 143px;
    height: 209px;
  }
  .content__title {
    font-size: 16px;
    line-height: 19px;
    padding-right: 55px;
  }
  .content__discription {
    font-size: 14px;
    line-height: 17px;
  }
  .content__price {
    padding-top: 25px;
  }
  .content__color {
    padding-top: 4px;
  }
  .content__size {
    padding-top: 3px;
  }
  .content__quantity {
    padding-bottom: 38px;
    padding-top: 4px;
  }
  .content__buttons {
    width: 350px;
    padding-top: 30px;
    gap: 9px;
  }
  .content__input {
    width: 339px;
  }
  .content__forma {
    padding: 0;
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 360px;
  }
  .subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
  .footer {
    flex-direction: column-reverse;
    padding-top: 44px;
  }
}/*# sourceMappingURL=style.css.map */